﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="AspAppServicesReseaux.Index" %>

<asp:Content ID="ContentTitle" ContentPlaceHolderID="CPHPageTitle" runat="server">
    Index de la page
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="CPHContent" runat="server">

    <p>
        Ceci est du contenu trop cool !
    </p>
</asp:Content>

