﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="AspAppServicesReseaux.MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>My Biblio</title>
    <link href="StyleSheet1.css" rel="stylesheet"/>
    <link href="public/css/bootstrap.min.css" rel="stylesheet" />
	<link href="public/css/font-awesome.min.css"rel="stylesheet" />
    <link href="public/css/bootstrap.min.css" rel="stylesheet" /> 
	<link href="public/css/ionicons.min.css"rel="stylesheet" />
    <link href="public/css/bootstrap.min.css" rel="stylesheet" />
	<link href="public/css/AdminLTE.css"rel="stylesheet" />
    <link href="public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="public/css/timepicker/bootstrap-timepicker.min.css"rel="stylesheet" />
    <link href="public/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="skin-black">
		
		<header class="header">
            <div class="logo">My Biblio</div>
				<nav class="navbar navbar-static-top" role="navigation">

					<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
               		 </a>

					<div class="navbar-right">
						<ul class="nav navbar-nav">
						<li class="dropdown user user-menu">
							
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							
								
                                <i class="glyphicon glyphicon-user"></i>
                                <span>FirstName UserName <i class="caret"></i></span>
								<ul class="dropdown-menu">
									<!-- Menu Footer-->
									<li class="user-footer">
										<div class="pull-left">
											<a href="#" class="btn btn-default btn-flat">Mon profil</a>
										</div>
										<div class="pull-right">
											<a href="#" class="btn btn-default btn-flat">Me déconnecter</a>
										</div>
									</li>
								</ul>
								
                            </a>
							
						</li>
						</ul>
					</div>
				
				</nav>		
		</header>
		
		<div class="wrapper row-offcanvas row-offcanvas-left">
			<aside class="left-side sidebar-offcanvas">
				<section class="sidebar" >
				<br/>
					<ul class="sidebar-menu">
                        <li>
                            <a href="http://localhost:51377/IndexEmprunteurs.aspx">Gestion des emprunts</a>
                        </li>
                        <li>
                            <a href="http://localhost:51377/IndexLivres.aspx">Liste des lives</a>
                        </li>
                        <li>
                            <a href="http://localhost:51377/AddUser.aspx">Ajouter un utilisateur</a>
                        </li>
						<li>
							<a href="#"><span><small>Tous droits réservés Copyright 2014</small></span></a>
						</li>
					</ul>
				</section>
			</aside>

		
		<aside class="right-side">
			<section class="content-header">
				<h1>
					<asp:ContentPlaceHolder ID="CPHPageTitle" runat="server"></asp:ContentPlaceHolder>
				</h1>
				<ol class="breadcrumb" style="display:none">
                    <li>Page</li>
				</ol>
			</section>
			
			<section class="content">
                <asp:ContentPlaceHolder ID="CPHContent" runat="server"></asp:ContentPlaceHolder>
            </section>
       </aside>			
	</div>
	
    
        <script src="public/js/jquery-2.1.3.min.js" type="text/javascript"></script>
        <script src="public/js/bootstrap.js" type="text/javascript"></script>
	    <script src="public/js/AdminLTE/app.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="ContentPlaceHolderJavascript" runat="server">
    </asp:ContentPlaceHolder>
    </body>

</html>